version: "3.9"

services:
  postgres:
    image: postgres:latest
    container_name: bedebo_postgres
    environment:
      POSTGRES_DB: bedebo
      POSTGRES_USER: work
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
